*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.imgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border: #0a0909 1px solid;
    border-radius: 10px;
}

.col-3{
    width: 25%;
    padding: 10px;
}

.container{
    width: 900px;
    margin: 0 auto;
}

img{
    width: 120px;
}

.bg-red{
    background-color: #ff970e;
}